
@{
    ViewBag.Title = "Check In";
}

<style>
    .table {
        width: 80%;
    }
    td, th {
        text-align: center;
    }

    .fade-in {
	    opacity: 1;
	    animation-name: fadeInOpacity;
	    animation-iteration-count: 1;
	    animation-timing-function: ease-in;
	    animation-duration: 0.5s;
    }

    @@keyframes fadeInOpacity {
	    0% {
		    opacity: 0;
	    }
	    100% {
		    opacity: 1;
	    }
    }

    .overdue {
        font-weight: bold;
        color: #c9302c;
    }


    .fade-in-new {
        opacity: 1;
        animation-name: fadeInNew;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.5s;
    }

    @@keyframes fadeInNew {
        0% {
            opacity: 0;
            color: #5cb85c;
        }

        75% {
            opacity: 0.75;
            color: #5cb85c;
        }

        100% {
            opacity: 1;
            color: white;
        }
    }

</style>



<h2>Check-In</h2>

<br />
<br />


<div id="errorMessage" class="field-validation-error" style="margin: 2rem; display: none; font-weight: bold; text-align: center;">Invalid barcode, please try again.</div>



<section id="scanBookSection" style="display: flex; flex-direction: column; align-items: center; opacity: 1;">
    <br />

    <h3>Please scan the books for check-in</h3>
    <p><em>*Or type in the barcodes</em></p>

    @using (Html.BeginForm("KioskBookBarcode", "Home", FormMethod.Post, new { id = "bookBarcodeForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="input-group">
            <input type="text" id="bookBarcodeInput" name="bookBarcode" value="" placeholder="Book Barcode" class="form-control" autofocus />
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i id="bookBarcodeSubmitIcon" class="glyphicon glyphicon-arrow-right"></i></button>
            </div>
        </div>
    }

</section>




<br />
<br />



<section id="checkedInBooksSection" style="display: none; opacity: 0;">
    <h3>Books checked in:</h3>
    <table id="checkedInBooksTable" class="table table-striped table-bordered" style="margin: 1rem 10%;">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Due Date</th>
                <th>Borrower</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- Checked out books for this user will be appended to the table here-->
        </tbody>
    </table>
</section>



<br />
<br />





@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // When the bookBarcodeForm is submitted (meaning they scanned a book) stop the form submission
            // and send it off to the controller ourselves.
            $("#bookBarcodeForm").submit(e => {
                e.preventDefault();
                $("#errorMessage").hide(500);
                $("#bookBarcodeSubmitIcon").addClass('glyphicon-repeat spin').removeClass('glyphicon-arrow-right');
                $.ajax({
                    type: "POST",
                    url: "/Home/BookCheckIn",
                    data: {
                        __RequestVerificationToken: getAntiForgeryToken(),
                        bookBarcode: $("#bookBarcodeInput").val()
                    },
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8'
                }).then(res => {
                    console.log('res is:');
                    console.log(res);
                    // The server liked the barcode, add the book to the table of currently checked out books
                    // Show table of books the librarian has checked in, including whether they are late or not
                    $("#checkedInBooksSection").css({ "display": "block" }).animate({ "opacity": 1 }, 500);
                    $("#scanBookSection").animate({ "opacity": 0 }, 500, () => {
                        $("#bookBarcodeInput").val("");
                        // Add the book to the table
                        let title = res.Title;
                        let author = res.Author;
                        let daysLate = res.DaysLate;
                        let dueDate = res.DueDate;
                        let borrower = res.Borrower;
                        if (daysLate > 0) {
                            $("#checkedInBooksTable").find('tbody').append(`<tr class="fade-in-new"><td>${title}</td><td>${author}</td><td>${dueDate}</td><td>${borrower}</td><td class="overdue">${daysLate} days late</td></tr>`);
                        } else {
                            $("#checkedInBooksTable").find('tbody').append(`<tr class="fade-in-new"><td>${title}</td><td>${author}</td><td>${dueDate}</td><td>${borrower}</td><td></td></tr>`);
                        }
                        // Show the book barcode scanning form again
                        $("#scanBookSection").animate({ "opacity": 1 }, 500);
                        $("#bookBarcodeSubmitIcon").removeClass('glyphicon-repeat spin').addClass('glyphicon-arrow-right');
                    });
                }).fail(err => {
                    // Server didn't like that barcode, log the error and show an error message.
                    console.log('Err is:');
                    console.log(err);
                    $("#bookBarcodeSubmitIcon").removeClass('glyphicon-repeat spin').addClass('glyphicon-arrow-right');
                    if (err.responseJSON == undefined) {
                        $("#errorMessage").text("An unknown server error occurred, please refresh the page and try again").show(500);
                    } else {
                        $("#errorMessage").text(err.responseJSON.message).show(500);
                    }
                    $("#bookBarcodeInput").val("");
                });
            });





            function getAntiForgeryToken() {
                var token = '@Html.AntiForgeryToken()';
                token = $(token).val();
                return token;
            }

        });
    </script>
}